body {
  background: #00274c;
  background-repeat: repeat;
  font-family: "sanchez", verdana, arial, helvetica, sans-serif;
  font-size: 15px;
}

#webheader {
  border: 2px solid #ffcb05;
  background: #00274c;
  color: #ffcb05;
  font-size: 25px;
  text-align: center;
  margin: 0 auto;
  max-width: 1000px;
  height: 100px;
  opacity: 0.9;
  margin-top: 20px;
  position: relative;
  margin-bottom: 20px;
  vertical-align: middle;
}

#webheader a:first-of-type img {
  left: 0;
  height: 80px;
  padding: 10px;
  position: absolute;
  top: 0;
}

#webheader a:last-of-type img {
  height: 80px;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 0;
}

#content {
  background: url("/images/moroccan-flower.png");
  border: 2px solid black;
  height: 100%;
  margin: 0 auto;
  max-width: 1000px;
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: center;
}

.header {
  border: 2px solid #ffcb05;
  background: #00274c;
  color: #ffcb05;
  margin-top: 20px;
  margin-left: 10%;
  margin-right: 10%;

}

.content {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 15%;
  margin-right: 15%;
}

#recommendation-container {
  margin-top: 20px;
}

#resume {
  height: 1000px;
  width: 80%;
}

#comment-list {
  list-style: none;
  margin-right: 40px;
}

#delete-button {
  background: #00274c;
  border: none;
  color: #00274c;
  margin-left: 200 px;
}

li {
  border: 2px solid #00274c;
  margin-bottom: 10px;
  word-wrap: break-word;
}

#login {
  text-align: center;
}